:root {
    --primary-bg: #0D1B1B;
    --dark-grey: #444444;
    --light-grey: #D9D9D9;
    --text-color: #FFFFFF;
    --accent-color: #152C2C;
    --blue-text: #50B6E2;
    --corner-radius: 20px;
}

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: var(--primary-bg); 
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    position: relative; 
    min-height: 100vh; 
    overflow-x: hidden; 
    z-index: 1; 
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: url('img/gradien.png') center center / cover no-repeat; 
    opacity: 0.26; 
    z-index: -1; 
}

header {
    background-color: transparent;
    padding: 40px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease-in-out; 
    animation: slide-up 0.8s ease-out;
}

*, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
    display: inline-block; 
    background-color: var(--primary-bg); 
    border: 1px solid var(--light-grey); 
    border-radius: 15px; 
    padding: 10px 50px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
    padding: 10px 0;
    transition: color 0.3s ease;
    display: inline-block;
    min-width: 50px;
    text-align: center;
}

nav a:hover {
    color: var(--dark-grey);
}

nav a:focus {
    color: var(--blue-text);
    font-weight: 600;
}

.hero-section {
    padding: 80px 10px;
    text-align: center;
    
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px; /* 112.308% */ 
    animation: slide-up 0.8s ease-out 0.2s forwards;
    opacity: 0;                       
}

.gradient-text {
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(181deg, #119EBE 8.49%, #385D65 71.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section {
    padding: 10px 20px;
    text-align: center;
}

.profile-card {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin: 50px auto 0;
    max-width: 900px;
    animation: slide-up 0.8s ease-out 0.2s forwards;
    opacity: 0; 
}

.profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.profile-info {
    text-align: left;
}

.greeting-text {
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    margin-bottom: 5px;
}

.profile-name {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 15px;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #FFF;
    color: var(--primary-bg);
}

.cta-button svg {
    width: 18px;
    height: 18px;
    stroke: #FFF;
}

.cta-button:hover svg {
    stroke: var(--primary-bg);
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
        padding: 0 10px;
        justify-content: center;
    }

    .project-card {
        width: auto; 
        height: auto;
    }
    
    .profile-card {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        border-radius: 281px;
    }
    
    .profile-photo {
        width: 350px;
        height: 400px;
        flex-shrink: 0;
        aspect-ratio: 397/435;
        border-radius: 281px;
    }
    
    .profile-info {
        text-align: center;
    }
    
    .profile-name {
        color: #FFF;
        font-family: Inter;
        font-size: 64px;
        font-weight: 500;
        line-height: 73px; /* 114.063% */
    }

    .greeting-text {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

      .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      height: 100%;
    }
}

.bio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 50px auto;
    max-width: 900px;
    border-radius: var(--corner-radius);
    animation: slide-up 0.8s ease-out 0.2s forwards;
    opacity: 0;
}

.sapaan-character {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

.bio-content {
    flex-grow: 1;
}

.bio-title {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    text-align: left;}

.gradient-text-bio {
    background: linear-gradient(90deg, #FFF 0%, #9CAEB2 27.4%, #385D65 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    }

.bio-description {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding-top: 10px;
    text-align: justify;}

.bold-text {
    font-weight: bold;
}

.projects-section{
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px; 
  padding: 20px 20px;
  text-align: center;
}

.highlight{
  color: #152C2C;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 73px;
}

.highlight-container{
  background: #FFF;
  width: 335px;
  height: 98px;
  flex-shrink: 0;
}


.project-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
}

.card-content-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
}


.project-card{
    width: calc(50% - 10px); 
    height: auto; 
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--dark-grey);
    background: var(--primary-bg);
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.09);
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.project-card3{
    width: 100%;
    height: 360px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--dark-grey);
    background: var(--primary-bg);
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.09);
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image{
  width: auto;
  height: 180px;
  flex-shrink: 0;
  border-radius: 5px;
}

.card-project-title{
  display: flex;
  width: 189px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 73px; /* 365% */
  margin-top: 15px;
}

.card-project-subtitle{
  display: flex;
  width: 216px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 73px; /* 365% */
}

.card-project-desc{
  display: flex;
  width: auto;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: justify;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 5px;
  text-align: justify;
}

.check-button {
    display: inline-flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    width: 65px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
    text-decoration: none;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: 15px; 
}

.check-button:hover {
    background-color: var(--text-color);
    color: var(--primary-bg);
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .project-card {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.judul-section{
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 73px; /* 97.333% */
  text-align: center;
  margin-top: 20px;
}

.sub-judul{
  margin-top: 15px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Experiences Section */
.experiences-section {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px; 
    padding: 20px 20px;
    text-align: center;
}

.section-subtitle {
    font-size: 15px;
    color: var(--light-grey);
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: 400;
}

.gradient-text-leader {
    background: linear-gradient(181deg, #119EBE 8.49%, #385D65 71.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experiences-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1030px;
    margin: 0 auto;
}

.experience-card {
    height: auto;
    background-color: var(--primary-bg);
    border-radius: var(--corner-radius);
    border: 1px solid var(--dark-grey);
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.09);
    padding: 30px;
    display: flex;
    gap: 30px;
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.experience-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.experience-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.experience-description {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 15px;
}

@media (max-width: 768px) {
  
    .experiences-grid {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .experience-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .experience-icon {
        margin-bottom: 10px;
    }
}

.contact-section {
    text-align: center;
    padding: 80px 20px;
}

.contact-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-subtitle {
    font-size: 15px;
    color: var(--light-grey);
    margin-bottom: 40px;
}

.linkedin-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    font: Inter;
}

.linkedin-button:hover .button-icon {
    filter: invert(0%); 
}

.button-icon {
    width: 30px;
    height: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}